<div *ngIf="hero">

    <h2>Modify {{ hero.name }}'s Details</h2>
    <img mat-card-image class="imgFix" src="{{ hero.imagePath }}" >
    <div>
      <span>id: </span>
      {{hero.id}}
    </div>
    <form [formGroup]="formGroup">
      <label for="hero-name">Hero Name: </label>
      <input type="text" [(ngModel)]="hero.name" formControlName="name" id="new-hero"/>
      <br>
      <label for="hero-quote">Hero Quote: </label>
      <input type="text" [(ngModel)]="hero.quote" formControlName="quote" id="new-hero" />
      <br>
      <label for="hero-imagePath">Hero Local Image Path: </label>
      <input type="text" [(ngModel)]="hero.imagePath" formControlName="imagePath" id="new-hero"/>
      <br>
      <label for="hero-altText">Hero Image Description: </label>
      <input type="text" [(ngModel)]="hero.altText" formControlName="altText" id="new-hero"/>
      <br>
      <!-- (click) passes input value to add() and then clears the input -->
      <br>
      <button mat-raised-button (click)="save()">save</button>
      <button mat-raised-button (click)="goBack()" >go back</button>
  </form>
  
</div>