label, span {
	color: #435960;
	font-weight: bold;
}

input {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 1em;
	padding: .5rem;
}

.imgFix {
	max-width: 250px;
    max-height: 250px;
}

button {
	margin-top: 20px;
	margin-right: 10px;
	background-color: #eee;
	font-size: 1rem;
	&:hover {
		background-color: #cfd8dc;
	}
	&:disabled {
		background-color: #eee;
		color: #ccc;
		cursor: auto;
	}
}
