nav {
  text-align: center;
}

.headerText{
	color: white;
	text-decoration: none;
}

.mat-tab-nav-bar {
    // background-color: #5D9EB1;
	background-color: #B15D65;
}

.mat-tab-nav-bar a {
	color: white;
	opacity: 100;
}


.mat-toolbar {
	background-color: #B15D65;
	color: #fff;
}



