<header>
  <mat-toolbar>
    <a routerLink="/dashboard" class="headerText">
      <h1>{{ title }}</h1> 
    </a>
  </mat-toolbar>
</header>

<nav mat-tab-nav-bar color="accent">
  <a mat-tab-link routerLink="/dashboard" routerLinkActive #rlaDash="routerLinkActive" [active]="rlaDash.isActive">Dashboard</a>
  <a mat-tab-link routerLink="/heroes" routerLinkActive #rlaHeroes="routerLinkActive" [active]="rlaHeroes.isActive">Heroes List</a>
  <a mat-tab-link routerLink="/createTopHeroes" routerLinkActive #rlaTop="routerLinkActive" [active]="rlaTop.isActive">Create Top Heroes</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<!-- <app-messages></app-messages> -->