h2 {
  margin-top: 15px;
}

.heroes-menu {
	padding: 0;
	margin: auto;
	max-width: 2000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	align-items: flex-start;
}
.resizeImg {
	margin-top: 10px;
	max-width: 150px;
	max-height: 150px;
}
a {
	background-color: #C2185B;
	border-radius: 2px;
	padding: 1rem;
	font-size: 1.2rem;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-style: bold;
	text-align: center;
	width: 100%;
	min-width: 70px;
	margin: .25rem auto;
	box-sizing: border-box;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	&:hover {
		background-color: #AD1457;
	}
}
@media (min-width: 600px) {
	a {
		width: 18%;
		box-sizing: content-box;
	}
}
