<h2>My Heroes</h2>

<div>
  <label for="new-hero"> Hero name: </label>
  <input id="new-hero" #heroName/>

  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button (click)="add(heroName.value); heroName.value=''" style="margin-left:10px">
    Add hero
  </button>
</div>

<div class="content">
  <mat-card class="card" *ngFor="let hero of heroes">
    <mat-card-header>
      <mat-card-title>{{ hero.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ hero.imagePath }}">
    <mat-card-content>
      <p> {{ hero.quote }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/detail/{{hero.id}}">More Details</button>
      <button mat-raised-button (click)="delete(hero)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>



