<header>
  <h1>My Heroes</h1>
</header>


<div>
  <label for="new-hero" style="font-size: large;"> Create Hero: </label>
  <input id="new-hero" #heroName style="padding: .5rem;"/>
    
      <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button (click)="add(heroName.value); heroName.value=''" style="margin-left:10px;">
    Add character
  </button>
</div>
    
<div class="content">
  <mat-card class="card" *ngFor="let hero of heroes">
    <mat-card-header>
      <mat-card-title>{{ hero.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ hero.imagePath }}" alt="{{ hero.altText }}">
    <mat-card-content>
      <p> {{ hero.quote }}</p>
    </mat-card-content>
    <mat-card-actions>
     <button mat-raised-button routerLink="/detail/{{hero.id}}">Edit Details</button>
      <button mat-raised-button (click)="delete(hero)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>  