<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<!-- <mat-list>
  <mat-list-item *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span>{{hero.id}}</span> {{hero.name}}
    </a>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list> -->




<div class="content">
  <mat-card class="card" *ngFor="let hero of heroes">
    <mat-card-header>
      <mat-card-title>{{ hero.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ hero.imagePath }}">
    <mat-card-content>
      <p> {{ hero.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>More Details</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>



